{% extends "base.html" %}

{% block title %}
  Registro de Actividades
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Actividades</h1>
  <p class="lead">Crear Nueva Actividad</p>
  <form method='POST'>{% csrf_token %}
      <div class="col">
          {% for field in form %}
            <div class="row">
              <span>{{ field.label }}</span>
            </div>
            <div class="row">
               {{ field }}
             </div>
          {% endfor %}
        <hr class="my-4">
        <div class="row">
          <input type="submit" value="Registrar" class="btn btn-success bg-info"/>
        </div>
      </div>
    </form>
</div>
{% endblock %}