{% extends "base.html" %}

{% block title %}
  Estado de Actividad
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Estado de Actividades</h1>
  {% if estado %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Actividad</th>
        <th>Lider</th>
        <th>Empleado</th>
        <td>Fecha de Inicio</td>
        <td>Fecha de Finalización</td>
      </tr>
    </thead>
    <tbody>
      {% for estados in estado %}
        <tr>
          <td>{{ estados.actividad }}</td>
          <td>{{ estados.lider }}</td>
          <td>{{ estados.empleado }}</td>
          <td>{{ estados.fecha_de_inicio }}</td>
          <td>{{ estados.fecha_de_finalizacion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No hay estados registradas al momento.</p>
  {% endif %}
</div>
{% endblock %}
