{% extends "base.html" %}

{% block title %}
  ParraSoft
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Empresa ParraSoft</h1>
    <p class="lead">Aplicación de  Gestor de Actividades</p>
    <hr class="my-4">
    <p>Bienvenido, aplicación para organizar las actividades de una empresa 
      la cual ayude al gerente a administrar sus actividades
    </p>
    <p>Sistema diseñado y construido por Jennifer Alexa Gutiérrez Hernández</p>
  </div>
{% endblock %}