{% extends "base.html" %}

{% block title %}
  Empleados
{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1 class="display-4">Lideres</h1>
  {% if lider %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
      </tr>
    </thead>
    <tbody>
      {% for lideres in lider %}
        <tr>
          <td>{{ lideres.nombre }}</td>
          <td>{{ lideres.apellido_paterno }}</td>
          <td>{{ lideres.apellido_materno }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No hay empleados registrados al momento.</p>
  {% endif %}
</div>


{% endblock %}