{% extends "base.html" %}

{% block title %}
  Reportes
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Reportes Generales</h1>
  {% if desempeno_de_empleados %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Puesto</th>
        <th>Cantidad de Actividades</th>
      </tr>
    </thead>
    <tbody>
      {% for desempeno_de_empleado in desempeno_de_empleados %}
        <tr>
          <td>{{ desempeno_de_empleado.empleado.nombre }}</td>
          <td>{{ desempeno_de_empleado.empleado.apellido_paterno }}</td>
          <td>{{ desempeno_de_empleado.empleado.apellido_materno }}</td>
          <td>{{ desempeno_de_empleado.empleado.puesto }}</td>
          <td>{{ desempeno_de_empleado.cantidad_de_actividad }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No hay datos de desempeño de empleados registrados al momento.</p>
  {% endif %}


  <hr class="my-4">
  <h2>Actividades por Empleado</h2>
  {% if actividad_de_empleados %}
    {% for actividades in actividad_de_empleados %}
    <h5>Empleado: 
        <h6>{{ actividades.empleado.apellido_paterno }} {{ actividades.empleado.apellido_materno }} {{ actividades.empleado.nombre }}</h6>
    </h5>  
      {% if actividades.actividad %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Lider</th>
            <td>Fecha de Inicio</td>
            <td>Fecha de Finalización</td>
          </tr>
        </thead>
        <tbody>
          {% for actividad in actividades.actividad %}
            <tr>
              <td>{{ actividad.actividad }}</td>
              <td>{{ actividad.lider }}</td>
              <td>{{ actividad.fecha_de_inicio }}</td>
              <td>{{ actividad.fecha_de_finalizacion }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No hay actividades registradas al momento.</p>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No hay datos de actividades para empleados registrados al momento.</p>
  {% endif %}
</div>
{% endblock %} 
