<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'home_app:inicio' %}">ParraSoft </a>
        <a class="nav-item nav-link active" href="{% url 'home_app:lider' %}">Lideres</a>
        <a class="nav-item nav-link active" href="{% url 'home_app:empleados' %}">Empleados</a>
        <a class="nav-item nav-link active" href="{% url 'home_app:actividades' %}">Actividades</a>
        <a class="nav-item nav-link active" href="{% url 'home_app:estado' %}">Estados de Act</a>
        <a class="nav-item nav-link active" href="{% url 'home_app:reportes' %}">Reportes</a>
        <a class="nav-item nav-link" href="{% url 'home_app:lider_new' %}">Crear Lider</a>
        <a class="nav-item nav-link" href="{% url 'home_app:empleados_new' %}">Crear Empleado</a>
        <a class="nav-item nav-link" href="{% url 'home_app:actividad_new' %}">Crear Actividad</a>
        <a class="nav-item nav-link" href="{% url 'home_app:estadoAct_new' %}">Crear Estado de Actividades</a>
      </div>
      </div>
    </div>
  </nav>
  